:root {
  --black: rgb(20, 20, 20);
  --black-75: rgba(20, 20, 20, 0.75);
  --offblack: rgb(35, 35, 35);
  --grey-xdark: rgb(45, 45, 45);
  --grey-xdark-50: rgba(45, 45, 45, 0.5);
  --grey-dark: rgb(65, 65, 65);
  --grey-mdark: rgb(85, 85, 85);
  --grey-medium: rgb(147, 147, 147);
  --grey-mlight: rgb(176, 176, 176);
  --grey-light: rgb(200, 200, 200);
  --grey-xlight: rgb(210, 210, 210);
  --offwhite: rgb(220, 220, 220);
  --white: rgb(235, 235, 235);
  --white-50: rgba(235, 235, 235, 0.5);
  --white-75: rgba(235, 235, 235, 0.75);
}

body {
  background: var(--black);
}
