@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --black: rgb(20, 20, 20);
  --offblack: rgb(35, 35, 35);
  --grey-xdark: rgb(45, 45, 45);
  --grey-dark: rgb(65, 65, 65);
  --grey-mdark: rgb(85, 85, 85);
  --grey-medium: rgb(147, 147, 147);
  --grey-mlight: rgb(176, 176, 176);
  --grey-light: rgb(200, 200, 200);
  --grey-xlight: rgb(210, 210, 210);
  --offwhite: rgb(220, 220, 220);
  --white: rgb(235, 235, 235);
}

body {
  background: #ededed;
}

/* MAIN STYLES */

.spyder--header {
  width:100%;
  font-size:50px;
  background: rgb(132, 181, 175);
  color:#fff;
  text-align:center;
  padding-top:20px;
  padding-bottom:5px;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  border-top-right-radius:25px;
  border-top-left-radius:25px;
  letter-spacing:4px;
}

.spyder--outer-wrapper {
  display:inline-flex;
}

.spyder--filter-box {
  width:150px;
  height:100vh;
  background: var(--grey-medium);
  display:inline-block;
  margin-right:10px;
  padding:15px;
}

#spyder--wrapper {
  width:100%;
  display:block;
  height:100vh;
  margin-top:10px;
  overflow:auto;
}

/* CHARACTER STYLES */

.spyder--char-block {
  width:20%;
  height:200px;
  border:1px solid #aaa;
  margin:10px;
  display:inline-block;
}

h2 {
  color: var(--grey-mdark);
  text-align:left;
  margin-top:5px;
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  border-bottom:1px dotted var(--grey-medium);
}

/* FILTER STYLES */

input {
  width:90%;
  font-size:11px;
  padding:5px;
  border-radius:5px;
  margin-bottom:10px;
  border:1px solid var(--grey-dark);
}

.subtitle {
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size:13px;
  color:var(--white);
  text-align:center;
  font-weight:bold;
  padding-bottom:3px;
  border-bottom:1px dotted var(--white);
}

li {
  list-style-type:none;
  display:inline;
}

label {
  display:inline-flex;
  color:var(--white);
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:11px;
  font-family: 'Open Sans', sans-serif;
}

.charbox {
  width:375px;
  height:200px;
  border:1px solid var(--grey-mlight);
  padding:10px;
  margin:10px;
  display:inline-block;
  background: var(--offwhite);
}

.charbox img {
  height:145px;
  float:left;
  width:90px;
  padding:5px;
  border:1px solid var(--grey-mlight);
  object-fit:cover;
  margin-right:10px;
}

.charbox li {
  list-style-type:none;
  text-align:left;
  color:var(--grey-dark);
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  letter-spacing:1px;
}

.charbox li b {
  text-transform:uppercase;
  letter-spacing:0px;
}

.charbox a {
  color:#595959;
  text-transform:uppercase;
  margin:5px;
}

.chardesc {
  margin-top:6px;
  color:var(--grey-dark);
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
  letter-spacing:0px;
}